.dialog-footer {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}
//搜索表单
.search {
  display: flex;
}
//表格写在这里
.table {
  margin-top: 20px;
}
.pagination {
  margin-top: 20px;
  .el-pagination {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
